@import url('../../admin/bootstrap/css/bootstrap.min.css');
@import url('../../admin/bootstrap/css/bootstrap-theme.min.css');
@import url('../../admin/bootstrap/css/font-awesome.min.css');
@import url('../assets/bower_components/Ionicons/css/ionicons.min.css');
@import url('../assets/dist/css/AdminLTE.min.css');
@import url('../assets/dist/css/skins/_all-skins.min.css');
@import url('../assets/bower_components/morris.js/morris.css');
@import url('../assets/bower_components/jvectormap/jquery-jvectormap.css');
@import url('../assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css');
@import url('../assets/bower_components/bootstrap-daterangepicker/daterangepicker.css');
@import url('../assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');


#content_main {
  border: 0;
  width: 100%;
  height: 90vh;
}

/* Custom - Logo */
.main-header .wrapper_logo {
  /*padding: 0;
  position: absolute*/;
}

/* Custom - User Menu */
.nav-stacked > li > a {
  color: #444 !important;
}
.navbar-nav > .user-menu > .dropdown-menu {
  width: 200px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-header {
  height: auto !important;
}

/* Custom - Navigation */
/*.fixed .content-wrapper,*/
/*.fixed .right-side {*/
  /*padding-top: 5px;*/
/*}*/



/* untuk keperluan diakses dari admin - block position */
.main-sidebar.admin {
  padding-top: 120px;
}


/* Global PEA */
/* background alertnya dibuat warna solid tanpa opacity */
.alert-success,
.alert-warning,
.alert-danger,
.alert-info {
  background-image: none;
}

/* tabel pea dibuat huruf capital */
table thead th {
  text-transform: uppercase;
}

/* autocomplete terlalu ke atas, diturunin ke bawah */
.ac_results {
  transform: translateY(100px);
}

/* form input yang require */
.form-group:has(input[req], select[req]) > label::after {
  content: " *";
  color: red;
  font-weight: bold;
}

/* kolom summary */
.table_summary th {
  width: 200px;
}
